.gifBttn {
    margin-right: 10px;
    margin-top: 15px;
}

.jumbotron, .form-group {
    align-content: center;
    text-align: center;
}

#srchBttn {
    margin-top: 10px;
}

.gif{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}